* {
	background-color: lightgray;
}
h1, button {
	display: block;
	margin: 0 auto;
	text-align: center;
  }
  
  button {
	background-color: black;
	color: lightblue;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
	cursor: pointer;
	border: 3px solid white
  }
  

  .result {
	margin: 20px auto;
	padding: 20px;
	border: 3px solid #ddd;
	max-width: 500px;
  }
  

  .result h2 {
	font-family: "Cambria";
	font-weight: 800;
	font-size: 25px;
  }
 
  #getAllPosts, #getPostById, #createNewPost, #replacePost, #updatePost, #deletePost{
    display: none;
  }